.junkers {
    padding: 0 0 35px;
}
.junkers__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.junkers__left {
}
.junkers__imgW {
}
.junkers__img {
    width: 100%;
    height: 100%;
}
.junkers__title {
    color: $mainColor;
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
}
.junkers__right {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.junkers__txt {
    line-height: 26px;
}
.junkers__btnW {
    text-align: center;
}
.junkers__btn {
    @include btn;
}